.well
  %form{:id => "map_filters"}
    - [[:jobs,"Jobs", "jobs.png"],[:users,"Utilisateurs", "users.png"],[:events,"Événements", "events.png"]].each do |filter|
      %label{class: 'checkbox inline filter-label'}
        %input{:type => 'checkbox', :name => filter.first, :id => "filter_#{filter.first}", :checked => true}
          = filter.second
        %img{src: "/assets/maps/#{filter.third}", class: 'filter-icon'}
.well
  #theMap
    %div{:id => "map_canvas"}
